<div style="width: 95%; margin: 0 auto;">
	<div class="row"> 
		<div class="col-md-7">
						<div style="background-color: #eaeae4; padding: 50px 15px 20px 15px; margin-right: 20px;">
							<div class="column"></div>
						</div>
		</div>
		<div class="col-md-17">
		
				<div class="row">	
					<div class="col-md-8" style="background-color: #eaeae4; padding: 50px 3px 20px 15px;">
							<div class="column">
<div class="list-group">
  <a href="#" class="list-group-item">
    <h5 class="list-group-item-heading">List group item heading</h5>
    <p class="list-group-item-text">...</p>
  </a>
   <a href="#" class="list-group-item">
    <h5 class="list-group-item-heading">List group item heading</h5>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h5 class="list-group-item-heading">List group item heading</h5>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h5 class="list-group-item-heading">List group item heading</h5>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h5 class="list-group-item-heading">List group item heading</h5>
    <p class="list-group-item-text">...</p>
  </a>




   
</div>							
							</div>	
					</div>
					<div class="col-md-8" style="background-color: #eaeae4; padding: 50px 3px 20px 3px;">
							<div class="column">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>								
							</div>
					</div>
					<div class="col-md-8" style="background-color: #eaeae4; padding: 50px 15px 20px 3px;">
							<div class="column"></div>
					</div>					
				</div>
		
		</div>
	</div>
</div>