<div class="row">
  <div class="col-sm-3 backlog">
    <div class="column-header"></div>
  </div>
  <div class="col-sm-3 planned">
    <div class="column-header"></div>
  </div>
  <div class="col-sm-3 started">
    <div class="column-header"></div>
  </div>
  <div class="col-sm-3 done">
    <div class="column-header"></div>
  </div>
</div>



<div class="row">
  <div class="col-sm-3 backlog">
    <div class="column"></div>
  </div>
  <div class="col-sm-3 planned">
    <div class="column">
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>      
</div>    	
    </div>
  </div>
  <div class="col-sm-3 started">
    <div class="column"></div>
  </div>
  <div class="col-sm-3 done">
    <div class="column"></div>
  </div>
</div>