<div class="row">
  <div class="col-md-3 backlog">
    <div class="column"></div>
  </div>
      <div class="col-md-3 planned">
        <div class="column"></div>
      </div>
      <div class="col-md-3 started">
        <div class="column"></div>
      </div>
      <div class="col-md-3 done">
        <div class="column"></div>
      </div>      
</div>