<div class="row" style="background-color: #D8D8D8; height: 100%;">
	<div class="col-sm-3 sidebar">

		<div id="submenu">
			<span>Category</span>
			<a href="#">Kinnser</a>
			&nbsp;
			&nbsp;
			<span>Sort by</span>
			<a href="#">Priority</a>
		</div>

		<div class="column-header">
			<h3>Backlog</h3>
		</div>
		
		<div class="list-group">
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">List group item heading</h4>
		    <p class="list-group-item-text">...</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">List group item heading</h4>
		    <p class="list-group-item-text">...</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">List group item heading</h4>
		    <p class="list-group-item-text">...</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">List group item heading</h4>
		    <p class="list-group-item-text">...</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">List group item heading</h4>
		    <p class="list-group-item-text">...</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">List group item heading</h4>
		    <p class="list-group-item-text">...</p>
		  </a>  
		</div>
		
	</div>
	
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-12">
				<div id="submenu">
					<a href="#">Projects</a>
					<span>this</span>
					<a href="#">Week</a>
					<span>in category</span>
					<a href="#">Kinnser</a>
				</div>
			</div>
		</div>
		<div class="row">	
		  <div class="col-sm-4 planned">
				<div class="column-header">
					<h3>Planned</h3>
				</div>
				<div class="column">				
					<div class="list-group">
					  <a href="#" class="list-group-item">
					    <h4 class="list-group-item-heading">List group item heading</h4>
					    <p class="list-group-item-text">...</p>
					  </a>
					  <a href="#" class="list-group-item">
					    <h4 class="list-group-item-heading">List group item heading</h4>
					    <p class="list-group-item-text">...</p>
					  </a>
					  <a href="#" class="list-group-item">
					    <h4 class="list-group-item-heading">List group item heading</h4>
					    <p class="list-group-item-text">...</p>
					  </a>  
					</div>			
				</div>
		  </div>
		  <div class="col-sm-4 started">
				<div class="column-header">
					<h3>Started</h3>
				</div>
				<div class="column"></div>	    	
		  </div>
		  <div class="col-sm-4 done">
				<div class="column-header">
					<h3>Done</h3>
				</div>
				<div class="column"></div>
		  </div>	
		</div>
	</div>	
</div>

