html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #D8D8D8;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item {
	border-left-width: 0;
	border-right-width: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#submenu {
	height: 40px;
	margin-top: 80px;
	padding-left: 12px;
}

#submenu a {
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.container-full-width {
	height: 100%;
	padding: 0 15px;
	margin-left: 0;
	margin-right: 13px;
}

.planned {
	padding-left: 27px;
	padding-right: 3px;
}

.started {
	padding-left: 3px;
	padding-right: 3px;
}

.done {
	padding-left: 3px;
	padding-right: 27px;
}

.column {
	height: 600px;
	background-color: white;
}

.column-header {
	height: 45px;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5;
	background-color: #f5f5f5;
}

.backlog-header, .column-header h3 {
	margin: 10px 0 0 15px;
}

.sidebar {
	height: 100%;
	padding: 0;
	border-width: 0 2px 0 1px;
	border-style: solid;
	border-color: gray;
	background-color: #D8D8D8;
}

.sidebar-top {
	height: 150px;
	background-color: #D8D8D8;
}